* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
}

.mainscreen {
  height: 100vh;
}

.main-menu {
  height: 92%;
}

.spotify-logo {
  border-radius: 5px;
  width: 50%;
  padding-right: 10px;
  gap: 2px;
}

.leftmenu {
  width: 27%;
  color: rgb(156, 156, 156);
  height: 45%;
}

.leftmenu--top {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.topbar--chips {
  height: -moz-fit-content;
  height: fit-content;
  padding: 6px;
  gap: 2.5%;
}

.top--bar--inner {
  align-items: center;
  gap: 5px;
}

.leftmenu--bottom---music {
  height: 45vh;
  margin-top: 5%;
  overflow-y: scroll;
}
.leftmenu--bottom---music::-webkit-scrollbar {
  width: 0.7rem;
}
.leftmenu--bottom---music::-webkit-scrollbar-track {
  background-color: rgba(9, 255, 83, 0.5);
  border-radius: 10px;
}
.leftmenu--bottom---music::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, rgb(15, 15, 16) 0%, rgb(76, 86, 106) 100%);
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(184, 178, 178, 0.5);
}

.player {
  justify-content: space-between;
}

.audio-player-container {
  position: relative;
}

.player--mid {
  width: 30%;
}

.rightmenu {
  width: 75%;
  height: 100%;
}

.rightmenu--topbar {
  height: 40%;
  background: linear-gradient(to right, #800080, #452c63);
}

.volume {
  border-radius: 100%;
  height: 25px;
  padding: 0;
  display: flex;
  align-self: center;
  width: 25px;
}
.volume:hover {
  background-color: rgb(77, 11, 97);
}

.rightmenu--musiclist-top {
  overflow-x: scroll;
}
.rightmenu--musiclist-top::-webkit-scrollbar {
  width: fit-content;
  height: 70%;
}
.rightmenu--musiclist-top::-webkit-scrollbar-track {
  background-color: rgba(9, 255, 83, 0.5);
  border-radius: 10px;
}
.rightmenu--musiclist-top::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, rgb(15, 15, 16) 0%, rgb(76, 86, 106) 100%);
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(184, 178, 178, 0.5);
}

.rightmenu--musiclist-bottom::-webkit-scrollbar {
  width: fit-content;
  height: 0.7rem;
}
.rightmenu--musiclist-bottom::-webkit-scrollbar-track {
  background-color: rgba(9, 255, 83, 0.5);
  border-radius: 10px;
}
.rightmenu--musiclist-bottom::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, rgb(15, 15, 16) 0%, rgb(76, 86, 106) 100%);
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(184, 178, 178, 0.5);
}

.album-cover {
  width: 12rem;
  height: 12rem;
}

.timeline-slider {
  width: 40vw;
}

.timeline-slider::-webkit-slider-runnable-track,
.volume-slider::-webkit-slider-runnable-track {
  height: 4px;
  background: #ddd;
  border: none;
  border-radius: 100px;
}

.timeline-slider::-webkit-slider-thumb,
.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #6bc15c;
  margin-top: -6px;
}

.timeline-slider:focus,
.volume-slider:focus {
  outline: none;
}

.timeline-slider:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

.timeline-slider:hover, .volume-slider:hover {
  background-color: blue;
}

.timeline-slider, .volume-slider {
  -webkit-appearance: none;
}/*# sourceMappingURL=style.css.map */