// @import url("./shared.scss");

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
}
.mainscreen {
  height: 100vh;
}
.main-menu {
  height: 92%;
}
.spotify-logo{
  border-radius: 5px;
  width:50%;
  padding-right: 10px;

  gap: 2px;
}

.leftmenu {
  width: 27%;
  color: rgb(156, 156, 156);
  height: 45%;
}
.leftmenu--top {
  height: 25%;
}
.player {
  height: 100vh;
}
.topbar--chips {
  height: fit-content;
  padding: 6px;
  gap: 2.5%;
}

.top--bar--inner {
  align-items: center;
  gap: 5px;
}
.leftmenu--bottom---music {
  height:55vh;
  margin-top: 5%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0.7rem; // Adjust scrollbar width
  }

  &::-webkit-scrollbar-track {
    background-color: rgb(9, 255, 83,0.5); // Set track color
    border-radius: 10px; // Make scrollbar rounded
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, rgb(15, 15, 16) 0%, rgba(76,86,106,1) 100%); // Set gradient color for the thumb
    border-radius: 10px; // Make scrollbar rounded
    box-shadow: inset 0 0 6px rgba(184, 178, 178, 0.5); // Add an shadow to the thumb
  }
}

.player{
  justify-content: space-between;
}

.audio-player-container {

  position: relative;
}
.player--mid{
  width: 30%;
}
.rightmenu{
  width: 75%;
  height: 100%;
}
.rightmenu--topbar{
height: 40%;
// border: 1px solid red;
background: linear-gradient(to right, #800080, #452c63);
}


.volume{
  border-radius: 100%;
  height: 25px;
  padding: 0;
  display: flex;
  align-self: center;
  width: 25px;
  &:hover{
    
      // width: 1rem;
      background-color: rgb(77, 11, 97);
    
  }
}



.rightmenu--musiclist-top{
  overflow-x: scroll;
  &::-webkit-scrollbar {
    width: fit-content;// Adjust scrollbar width
    height: 70%;
  }

  &::-webkit-scrollbar-track {
    background-color: rgb(9, 255, 83,0.5); // Set track color
    border-radius: 10px; // Make scrollbar rounded
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, rgb(15, 15, 16) 0%, rgba(76,86,106,1) 100%); // Set gradient color for the thumb
    border-radius: 10px; // Make scrollbar rounded
    box-shadow: inset 0 0 6px rgba(184, 178, 178, 0.5); // Add an shadow to the thumb
  }
}
.rightmenu--musiclist-bottom{
  
  &::-webkit-scrollbar {
    width: fit-content;// Adjust scrollbar width
    height: 0.7rem;
  }

  &::-webkit-scrollbar-track {
    background-color: rgb(9, 255, 83,0.5); // Set track color
    border-radius: 10px; // Make scrollbar rounded
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, rgb(15, 15, 16) 0%, rgba(76,86,106,1) 100%); // Set gradient color for the thumb
    border-radius: 10px; // Make scrollbar rounded
    box-shadow: inset 0 0 6px rgba(184, 178, 178, 0.5); // Add an shadow to the thumb
  }
}
.album-cover{
  
 width: 12rem;
 height: 12rem;
}

// .albums{
//   overflow-x: scroll;
  
// }

.timeline-slider{
  width: 40vw;
  
}
.timeline-slider::-webkit-slider-runnable-track,
.volume-slider::-webkit-slider-runnable-track {
  height: 4px;
  background: #ddd;
  border: none;
  border-radius: 100px;
}
 
.timeline-slider::-webkit-slider-thumb,
.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #6bc15c;
  margin-top: -6px;
}
 

.timeline-slider:focus,
.volume-slider:focus {
  outline: none;
}
 
.timeline-slider:focus::-webkit-slider-runnable-track {
  background: #ccc;
}
 

.timeline-slider:hover, .volume-slider:hover {
  background-color: blue;
}
 
.timeline-slider, .volume-slider {
  -webkit-appearance: none;
}
 